a,
button,
input {
  outline: 0 !important;
  text-decoration: none !important; }

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#header .nav-top-header {
  background: #000000;
  text-transform: uppercase;
  color: #fff;
  float: none;
  clear: both;
  font-size: 11px; }
  #header .nav-top-header a {
    color: #fff; }
  #header .nav-top-header .contact {
    float: left;
    line-height: 30px; }
    #header .nav-top-header .contact span {
      font-size: 12px; }
    #header .nav-top-header .contact span:first-child {
      margin-right: 8px;
      display: inline-block;
      font-size: 11px; }
  #header .nav-top-header #currencies-block-top,
  #header .nav-top-header .header_user_info,
  #header .nav-top-header .search_block_top,
  #header .nav-top-header #currencies-block-top {
    float: right; }
  #header .nav-top-header .header_user_info a {
    padding: 0 15px;
    display: inline-block;
    line-height: 30px; }
  #header .nav-top-header #currencies-block-top,
  #header .nav-top-header .header_user_info {
    border-left: 1px solid #444444; }
  #header .nav-top-header #currencies-block-top .dropdown-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .2); }
    #header .nav-top-header #currencies-block-top .dropdown-menu li:last-child {
      border-bottom: none; }
  #header .nav-top-header #currencies-block-top .dropdown-menu a {
    color: #000; }
  #header .nav-top-header .header_user_info {
    background-image: url("../images/icon-myacc.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 10px center; }
  #header .nav-top-header .search_block_top {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    position: relative; }
    #header .nav-top-header .search_block_top .drop_search {
      position: absolute;
      top: auto;
      right: -2px;
      width: 300px;
      z-index: 1002;
      padding: 20px;
      border: 1px solid #e1e1e1;
      background: #fff;
      margin-top: 2px; }
    #header .nav-top-header .search_block_top button {
      background: transparent;
      border: none;
      padding: 8px 10px;
      font-size: 15px; }
    #header .nav-top-header .search_block_top > button {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    #header .nav-top-header .search_block_top #searchbox p {
      position: relative;
      width: 100%;
      padding: 0;
      height: 44px; }
    #header .nav-top-header .search_block_top #searchbox input.search_query {
      background: #fff;
      color: #a1a1a1;
      display: inline-block;
      font-size: 13px;
      border: 1px solid #e1e1e1;
      margin: 0;
      width: 100%;
      padding: 5px 50px 5px 10px;
      height: 40px;
      line-height: 19px; }
    #header .nav-top-header .search_block_top #searchbox .search_button span {
      padding: 11px 20px;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: 0;
      color: #ffffff !important;
      border: 1px solid #ec6a54;
      background-color: #ec6a54;
      font: 700 12px/1.35 Lato,Helvetica,Arial,sans-serif; }

#currencies-block-top .dropdown .btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 11px;
  padding: 0 15px;
  line-height: 30px; }
  #currencies-block-top .dropdown .btn .caret {
    display: inline-block;
    margin-left: 10px; }

.top_header .navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 16px;
  text-transform: lowercase; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #fd926d;
    background: #fff !important; }

.your-cart,
.detail-cart {
  width: 100%;
  border: 1px solid #d6d6d6;
  padding: 8px 11px;
  font-size: 12px;
  color: #949393; }

.detail-cart {
  border-top: none;
  text-align: right;
  background: url("../images/icon-cart-header.png") 10px center no-repeat;
  background-size: 20px 20px; }

.slider_row {
  margin-bottom: 75px;
  position: relative; }
  .slider_row:after {
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    content: "";
    background: #000;
    opacity: .2; }
  .slider_row .carousel-control {
    width: 37px;
    height: 117px;
    opacity: 1;
    top: calc(50% - 59px); }
    .slider_row .carousel-control.left, .slider_row .carousel-control.right {
      background: #fdfcfb;
      background-image: none;
      color: #cacac9;
      text-shadow: none; }
    .slider_row .carousel-control .glyphicon-chevron-left,
    .slider_row .carousel-control .icon-prev {
      margin-left: -17px; }
    .slider_row .carousel-control .glyphicon-chevron-right,
    .slider_row .carousel-control .icon-next {
      margin-right: -17px; }

.main-content .top-content {
  background: #ededed;
  margin-bottom: 40px; }
  .main-content .top-content .follow-us {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    vertical-align: middle; }
    .main-content .top-content .follow-us span {
      line-height: 55px; }
    .main-content .top-content .follow-us ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 165px;
      margin-left: 20px; }
      .main-content .top-content .follow-us ul > li {
        display: inline-block; }
        .main-content .top-content .follow-us ul > li a {
          width: 55px;
          height: 55px;
          line-height: 55px;
          text-align: center;
          color: #6b6b6b;
          background: #f7f7f7;
          display: block; }
          .main-content .top-content .follow-us ul > li a .fa {
            font-size: 18px;
            font-weight: bold; }
          .main-content .top-content .follow-us ul > li a:hover {
            background-color: #ededed; }
  .main-content .top-content .left-cnt-top {
    padding-top: 14px;
    padding-bottom: 13px; }
    .main-content .top-content .left-cnt-top label {
      font-size: 12px;
      color: #6b6b6b; }
    .main-content .top-content .left-cnt-top button {
      width: 28px;
      height: 28px;
      border: 0;
      background: #fd926d;
      color: #fff;
      margin-left: -4px;
      vertical-align: middle;
      position: relative; }
      .main-content .top-content .left-cnt-top button:after {
        content: '';
        width: 28px;
        height: 3px;
        background: #dd6b44;
        bottom: 0;
        left: 0;
        position: absolute; }
    .main-content .top-content .left-cnt-top input {
      height: 28px;
      font-style: italic;
      font-size: 12px;
      color: #9f9f9f;
      border: 0;
      vertical-align: middle;
      padding-left: 9px;
      width: 132px;
      outline: 0; }

.main-content .static-block {
  margin-bottom: 50px; }
  .main-content .static-block img {
    width: 100%;
    height: auto; }

.main-content .cs-product .cs-top-product {
  position: relative; }
  .main-content .cs-product .cs-top-product .sale-product {
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0; }
    .main-content .cs-product .cs-top-product .sale-product:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 0;
      height: 0;
      border-top: 60px solid #4c4c4c;
      border-right: 60px solid transparent; }
  .main-content .cs-product .cs-top-product .sale {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    line-height: 26px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 5px; }
  .main-content .cs-product .cs-top-product a.cart-button {
    position: absolute;
    left: calc(50% - 67px);
    top: calc(50% - 67px); }
    .main-content .cs-product .cs-top-product a.cart-button img {
      transform: scale(0);
      -webkit-transform: scale(0);
      opacity: 0;
      -webkit-transition: opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
      transition: opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
      transition: transform 400ms ease 0s,opacity 300ms ease 0s;
      transition: transform 400ms ease 0s,opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
      -o-transition: transform 400ms ease 0s,opacity 300ms ease 0s;
      -webkit-transition: -webkit-transform 400ms ease 0s,opacity 300ms ease 0s;
      -moz-transition: transform 400ms ease 0s,opacity 300ms ease 0s; }
  .main-content .cs-product .cs-top-product img {
    width: 100%;
    height: auto;
    display: block; }

.main-content .cs-product .cs-bottom-product {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: #fff;
  text-transform: uppercase; }
  .main-content .cs-product .cs-bottom-product h5 a {
    color: #373737; }
    .main-content .cs-product .cs-bottom-product h5 a:hover {
      color: #fd926d; }
  .main-content .cs-product .cs-bottom-product h5,
  .main-content .cs-product .cs-bottom-product p.price {
    margin-bottom: 10px; }
  .main-content .cs-product .cs-bottom-product p.add-to-cart a {
    display: inline-block; }
    .main-content .cs-product .cs-bottom-product p.add-to-cart a:hover {
      opacity: .8; }

.main-content .cs-product:hover .cs-top-product a.cart-button img {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1); }

.main-content .cs-product-hover {
  opacity: 0;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-box-shadow: 0 0 5px #c2c0c0;
  box-shadow: 0 0 5px #c2c0c0;
  -webkit-transition: opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
  transition: opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s,opacity 300ms ease 0s;
  transition: transform 400ms ease 0s,opacity 300ms ease 0s,-webkit-transform 400ms ease 0s;
  -o-transition: transform 400ms ease 0s,opacity 300ms ease 0s;
  -webkit-transition: -webkit-transform 400ms ease 0s,opacity 300ms ease 0s;
  -moz-transition: transform 400ms ease 0s,opacity 300ms ease 0s;
  border: 1px solid #c6c6c6;
  padding: 20px; }

.main-content .filter_categories .nav-tabs li a {
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  background: #fff;
  color: #555555;
  margin: 0;
  border-radius: 0; }

.main-content .filter_categories .nav-tabs li.active a {
  color: #fff;
  background: #fd926d; }

.main-content .filter_categories .tab-content {
  background: #fd926d;
  padding-top: 30px;
  padding-bottom: 30px; }
  .main-content .filter_categories .tab-content .owl-nav {
    top: -77px;
    position: absolute;
    right: 0;
    font-size: 0; }
    .main-content .filter_categories .tab-content .owl-nav .owl-prev,
    .main-content .filter_categories .tab-content .owl-nav .owl-next {
      width: 46px;
      height: 46px;
      background-image: url(../images/next-prev.jpg);
      background-position: 0 0;
      outline: 0 !important; }
      .main-content .filter_categories .tab-content .owl-nav .owl-prev:hover,
      .main-content .filter_categories .tab-content .owl-nav .owl-next:hover {
        background-position: 0 100%; }
    .main-content .filter_categories .tab-content .owl-nav .owl-next {
      background-position: 100% 100%; }
      .main-content .filter_categories .tab-content .owl-nav .owl-next:hover {
        background-position: 100% 0; }

.main-content .filter_categories .cs-product {
  padding: 7px 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .main-content .filter_categories .cs-product:hover {
    padding: 0; }

.main-content .product-sale-off {
  padding-top: 20px; }
  .main-content .product-sale-off .item-content {
    margin-bottom: 30px; }
  .main-content .product-sale-off h1 {
    padding-bottom: 20px;
    position: relative;
    text-align: center; }
    .main-content .product-sale-off h1 span {
      display: inline-block;
      background: #fff;
      padding: 10px;
      position: relative;
      z-index: 1; }
    .main-content .product-sale-off h1:before {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background: #d8d8d8;
      content: '';
      left: 0; }
  .main-content .product-sale-off .cs-bottom-product {
    background: #f7f7f7; }

.main-content .brands {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8; }
  .main-content .brands h3 {
    text-align: center;
    position: relative;
    margin-bottom: 5px; }
    .main-content .brands h3:before {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background: #d8d8d8;
      content: '';
      left: 0; }
    .main-content .brands h3 span {
      text-transform: uppercase;
      color: #414141;
      font-size: 15px;
      display: inline-block;
      background: #fff;
      padding: 10px;
      position: relative;
      z-index: 1; }
  .main-content .brands ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .main-content .brands ul li {
      display: inline-block;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      vertical-align: middle; }
      .main-content .brands ul li img {
        display: inline-block; }

.main-content .about-us {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .main-content .about-us h4 {
    font-size: 24px;
    color: #414141;
    padding-bottom: 15px; }
  .main-content .about-us p {
    color: #999999; }

footer .top-footer {
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  footer .top-footer ul {
    display: inline-block;
    vertical-align: middle; }
    footer .top-footer ul li {
      display: inline-block;
      margin: 0 2px; }

footer .footer-content {
  background: #ededed;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer .footer-content h4 {
    color: #544f4d;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 15px; }
  footer .footer-content ul li a {
    color: #544f4d;
    font-size: 12px; }
    footer .footer-content ul li a:hover {
      color: #fd926d; }
  footer .footer-content .social-icon li {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 10px; }
    footer .footer-content .social-icon li a {
      width: 35px;
      height: 35px;
      color: #fff;
      background: #4c4c4b;
      display: block;
      border-radius: 50%;
      text-align: center;
      line-height: 35px; }
      footer .footer-content .social-icon li a:hover {
        background: #fd926d;
        color: #fff; }

footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000;
  color: #8d8d8d;
  font-size: 11px; }
  footer .footer-bottom .menu-ft {
    float: left; }
    footer .footer-bottom .menu-ft li {
      display: inline-block;
      margin-right: 10px;
      padding-right: 10px;
      margin-top: 5px;
      position: relative;
      font-size: 11px; }
      footer .footer-bottom .menu-ft li:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        right: 0;
        background: #8d8d8d;
        bottom: 0; }
      footer .footer-bottom .menu-ft li:last-child:before {
        display: none; }
      footer .footer-bottom .menu-ft li a {
        color: #8d8d8d; }
        footer .footer-bottom .menu-ft li a:hover {
          color: #fd926d; }
  footer .footer-bottom .copy-right {
    float: right;
    text-align: right; }

@media (min-width: 1200px) {
  .main-content .filter_categories .tab-content .owl-nav {
    right: calc(50% - 470px); } }

/*media 768*/
@media (min-width: 768px) {
  .buttonToggle {
    display: none; }
  .fa-caret-down {
    display: none; }
  .hide-sp {
    display: none; }
  .carousel-indicators {
    bottom: -42px; }
    .carousel-indicators li {
      border: 0;
      background-color: #867a76;
      width: 10px;
      height: 10px; }
      .carousel-indicators li.active {
        background-color: #fd926d;
        border: 0;
        width: 10px;
        height: 10px;
        margin: 1px; }
  .logo-header {
    padding-top: 16px;
    padding-bottom: 16px; }
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 19px; }
  .navbar-brand {
    display: none; }
  .top_header {
    padding-top: 25px;
    padding-bottom: 25px; }
  .main-content .item, .main-content .item-content {
    position: relative; }
    .main-content .item:hover .cs-product-hover, .main-content .item-content:hover .cs-product-hover {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -khtml-opacity: 1;
      -moz-opacity: 1;
      z-index: 2;
      transform: scale(1);
      -webkit-transform: scale(1);
      background: #fff;
      padding: 0;
      width: 100%; }
    .main-content .item:hover .cs-product-nohover, .main-content .item-content:hover .cs-product-nohover {
      z-index: 0;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -khtml-opacity: 0;
      -moz-opacity: 0; } }

@media (max-width: 1199px) {
  .flex-row-content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .top_header .navbar-default .navbar-header {
    background: #fd926d;
    margin-left: -15px;
    margin-right: -15px;
    float: none; }
  .top_header .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .top_header .navbar-default .collapse {
    display: none !important; }
  .top_header .navbar-default #navbar {
    padding: 0; }
    .top_header .navbar-default #navbar.in {
      display: block !important; }
  .top_header .navbar-default .navbar-header {
    background: #fd926d; }
    .top_header .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      color: #fff;
      margin-left: 0; }
    .top_header .navbar-default .navbar-header .navbar-toggle {
      color: #fff;
      border: 0;
      background: transparent; }
      .top_header .navbar-default .navbar-header .navbar-toggle .icon-bar {
        background: #fff; }
  .top_header .navbar-default .dropdown.open > a {
    background: #fd926d !important; }
  .top_header .navbar-default .dropdown-menu {
    position: relative;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0; }
  .clear-fix {
    float: none;
    clear: both; }
  .navbar-toggle {
    display: block; }
  .navbar-brand {
    display: block; }
  .navbar-nav {
    float: none;
    margin: 0; }
    .navbar-nav > li {
      float: none;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, .15); }
      .navbar-nav > li:last-child {
        border-bottom: 0; }
      .navbar-nav > li .caret {
        position: absolute;
        top: 18px;
        right: 15px; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .main-content .filter_categories .tab-content .owl-nav {
    right: calc(50% - 470px); } }

@media (max-width: 992px) and (min-width: 768px) {
  .hide-tablet {
    display: none; } }

@media (max-width: 767px) {
  #buttonToggle {
    color: #fff;
    border: 0;
    background: transparent;
    font-size: 0;
    border: 0; }
    #buttonToggle .icon-bar {
      background: #fff;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px; }
      #buttonToggle .icon-bar + .icon-bar {
        margin-top: 4px; }
  .main-content .top-content {
    background: #fff;
    margin-bottom: 10px; }
  .hide-pc {
    display: none; }
  #header .nav-top-header {
    background: #fff; }
    #header .nav-top-header .contact {
      float: none;
      width: 100%;
      font-size: 16px;
      text-align: center;
      color: #838383; }
    #header .nav-top-header .top-bar-right {
      background: #000;
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 0; }
      #header .nav-top-header .top-bar-right #currencies-block-top {
        float: left;
        border-right: 1px solid #444444; }
      #header .nav-top-header .top-bar-right .header_user_info {
        float: none;
        display: inline-block;
        border-left: 0; }
  #header .logo-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    float: none; }
  .shopping_cart .your-cart {
    display: none; }
  .shopping_cart .detail-cart {
    border-top: 1px solid #d6d6d6;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    background-sie: 12px 12px; }
  .slider_row {
    display: none; }
  .main-content .top-content .left-cnt-top {
    position: relative;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
    .main-content .top-content .left-cnt-top label {
      display: none; }
    .main-content .top-content .left-cnt-top input {
      width: 100%;
      height: 48px;
      background: #ededed; }
    .main-content .top-content .left-cnt-top button {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px; }
      .main-content .top-content .left-cnt-top button:after {
        width: 48px; }
  .main-content .top-content .follow-us {
    display: block;
    text-align: center;
    float: none; }
    .main-content .top-content .follow-us ul {
      display: inline-block; }
      .main-content .top-content .follow-us ul li {
        margin-left: -2px;
        margin-right: -2px; }
  .main-content .static-block {
    display: none; }
  .main-content .cs-top-product img {
    width: 100%;
    display: block; }
  .main-content #myList li {
    display: none; }
  .main-content .load {
    text-align: center;
    width: 100%; }
  .main-content .loadMore {
    background: #000 url("../images/loadmore-button.png") center center;
    cursor: pointer;
    display: inline-block;
    width: 110px;
    height: 30px;
    background-size: cover;
    font-size: 0; }
  .main-content .loadMore:hover {
    background-color: #dd6b44; }
  .main-content .filter_categories .tab-content {
    padding-left: 15px;
    padding-right: 15px; }
  .main-content .filter_categories .box-product {
    display: block;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-content .filter_categories .box-product .item {
      width: 50%;
      float: left;
      padding: 10px; }
  .main-content .filter_categories .tab-pane.active .box-product .item {
    display: none; }
  .main-content .filter_categories .nav-tabs {
    background: #f4845d;
    position: relative; }
    .main-content .filter_categories .nav-tabs i {
      position: absolute;
      color: #fff;
      z-index: 1;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: block;
      text-align: center;
      line-height: 40px; }
    .main-content .filter_categories .nav-tabs > li {
      float: none;
      display: none; }
      .main-content .filter_categories .nav-tabs > li.selected {
        display: block !important; }
        .main-content .filter_categories .nav-tabs > li.selected a {
          background: transparent; }
      .main-content .filter_categories .nav-tabs > li a {
        background: transparent; }
  .main-content .product-sale-off {
    padding-left: 15px;
    padding-right: 15px; }
    .main-content .product-sale-off h1:before {
      width: auto;
      left: -30px;
      right: -30px; }
    .main-content .product-sale-off .load {
      margin-bottom: 20px; }
    .main-content .product-sale-off .item-content {
      display: none; }
  .brands, .about-us, .top-footer, .footer-content {
    display: none; }
  footer .footer-bottom {
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px; }
    footer .footer-bottom .menu-ft {
      display: none;
      float: none;
      margin-top: 30px; }
      footer .footer-bottom .menu-ft li {
        display: block;
        border: none;
        margin-bottom: 10px; }
        footer .footer-bottom .menu-ft li:before {
          display: none; }
    footer .footer-bottom #buttonToggle {
      position: absolute;
      left: 15px;
      top: 20px; } }
